.xterm .xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  background-color: #000;
  overflow-y: hidden;
  cursor: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}